@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the best ticketing system !</h1>
   
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-lalert-danger btn-dark">
                Try it out !
            </a>

</div>
